<?xml version="1.0" encoding="UTF-8"?>

<!--
 *
 *      Copyright (c) 2019-2026, wlidcat All rights reserved.
 *
 *  Do not alter or remove copyright notices or this file header
 *
 *  This code is free software; you can redistribute it and/or modify it
 *
 *  Author: wlidcat (bishengqin@gmail.com)
 *
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

  <resultMap id="${classname}Map" type="${package}.${moduleName}.entity.${className}">
    #foreach($column in $columns)
      #if($column.lowerAttrName==$pk.lowerAttrName)
        <id property="${pk.lowerAttrName}" column="${pk.columnName}"/>
      #else
        <result property="${column.lowerAttrName}" column="${column.columnName}"/>
      #end
    #end
  </resultMap>
</mapper>
